PORT=5000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/rentmate
JWT_SECRET=supersecretjwtkey
GEMINI_API_KEY=your_gemini_api_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLIENT_URL=http://localhost:5173
